@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');

body{
    font-family: 'Montserrat', sans-serif;;
}
:root{
    --padding-container: 100px 0;
    --color-title: white;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(180deg,#0000008c 0%,#0000008c 100%),url(../images/christian-mackie-euBmypOZUZA-unsplash.jpg) ;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 90%, 0 75%);
    z-index: -1;
    color: #FFF;
}


/* NAV */
.nav{
    --padding-container:0;
    height: 100%;
    display:flex ;
    align-items: center;
}
.nav__title{
    font-weight: 300;
    color:white;
    font-weight: 1000;
}

.nav_items{
    list-style: none;
}
.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap:2em;
}
.nav__links{
    color:white;
    text-decoration: none;

}
.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.nav__img{
    display: block;
    width: 30px;
}
.nav__logo{
    display: flex;
    align-items: center;
}
.nav__logo__svg{
    width: 15%;
    min-width: 100px;
    padding-top: 10px;
}

.nav__close{
    display: var(--show,none);
}

/* Hero container*/

.hero__container{
    max-width: 800px;
    display: grid;
    --padding-container:0;
    grid-auto-rows: max-content;
    align-content: center;
    gap:0.1em;
    padding-bottom: 100px;
    text-align: center;
}
.hero__logo{
    width: 40%;
    margin: 0 auto;
}
.hero__title{
    font-size: 3rem;
    color: white;
    margin:0.5em 0px 0.1em 0px;
}

.hero__paragraph{
    margin-bottom: 20px;
    color:white;
    font-size: 2rem;
}
.cta{
    display: inline-block;
    background-color: #ffffff;
    justify-self: center;
    color:#1d0101;
    font-weight: 800;
    text-decoration: none;
    padding:13px 30px;
    border-radius: 30px;
}

/* ABOUT*/

.about{
    text-align: center;
    padding-top: 50px;
}
.subtitle{
    color:var(--color-title);
    font-size: 2 rem;
    margin-bottom: 25 px;
}
.subtitle__valor{
    color: #1d0101;
}
.about__paragraph{
    line-height: 1.7;
    text-align: center;
}
.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap:1 em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
}
.about__icons{
    display: grid;
    gap: 1 em;
    align-content: flex-start;
    justify-items: center;
    width: 260px;
    overflow:hidden;
    margin: 0 auto;
}

.about__icon{
    width: 100px;
}

/* KNOWLEDGE*/
.knowledge{
    background-color: #1b1815;
    opacity: 0.9;
    background-image:  radial-gradient(#c2bdb1 0.2px, transparent 0.2px), radial-gradient(#c2bdb1 0.2px, #1b1815 0.2px);
    background-size: 8px 8px;
    background-position: 0 0,4px 4px;
    overflow: hidden;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap:1 em;
    align-items: center;
}

.knowledge__picture{
    max-width: 1000px;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}
.knowledge__img{
    border-radius: 10px;
    width: 100%;
    display: block;
}

.knowledge__second{
    background-color: #ffffff;
    background-image:  radial-gradient(#c2bdb1 0.4px, transparent 0.4px), radial-gradient(#c2bdb1 0.4px, #ffffff 0.4px);
}
.cta__two{
    background-color: #1b1815;
    color: white;
}

.subtitle__inv{
    color: #1b1815;
}

.knowledge__container__left{
    grid-template-columns: 1.2fr 1fr;
}
.knowledge__texts{
    text-align: center;
}
.knowledge__texts__right{
    color:white;
}


/* Pirce */
.subtitle__product{
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 35px;
}

.price{
    text-align: center;
    background-image: #1b1815;
    opacity: 0.9;
    background-image:  radial-gradient(#c2bdb1 0.2px, transparent 0.2px), radial-gradient(#c2bdb1 0.2px, #1b1815 0.2px);
    background-size: 8px 8px;
    background-position: 0 0,4px 4px;
}
.price__table{
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}
.price__element{
    background-color: #bababa;
    text-align: center;
    border-radius: 10px;
    width: 250px;
    padding: 40px;
    --color-plan:#030016;
    --color-price:#1d293f;
    --bg-cta:rgba(255, 255, 255, 0.985);
    --color-cta: #5252d4;
    --color-items:#696871;
}
.price__element--two{
    width: 280px;
    padding: 60px 40px;
    background-color: #ff7143;
    --color-plan:rgb(255 255 255 / 75%);
    --color-price:#ffffff;
    --bg-cta:#9f3919;
    --color-cta: #fff;
    --color-items:#fff;
}

.product__name{
    color:var(--color-plan);
    margin-bottom: 15px;
    font-weight: 600;
}
.product__price{
    font-size: 2.5rem;
    color: var(--color-price);
}

.product__items{
    margin-top: 35px;
    display: grid;
    gap:1 em;
    font-weight: 300;
    font-size: 1.2 rem;
    margin-bottom: 50 px;
    color: var(--color-items);
}

.plan__cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

/*TESTIMONY*/
.testimony{
    background-color:#e5e5f7;
}
.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap:1em;
    align-items: center;
}
.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition:opacity 1.5 ease-in-out ;
}
.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}
.testimony__text{
    max-width: 700ox;
}
.testimony__course{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}
.testimony__arrow{
    width: 90%;
    cursor: pointer;
}